In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the city data CSV
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint George,US,2021-11-28 21:59:59,37.1041,-113.5841,77.47,18,0,0.81
1,1,Mackay,AU,2021-11-28 21:57:58,-21.1500,149.2000,73.38,94,90,6.91
2,2,Puerto Ayora,EC,2021-11-28 21:59:59,-0.7393,-90.3518,76.96,81,83,10.36
3,3,Ocos,GT,2021-11-28 22:00:00,14.5094,-92.1933,91.90,71,40,6.40
4,4,Jalu,LY,2021-11-28 22:00:00,29.0331,21.5482,75.25,21,100,11.90

In [3]:
city_data_df[['Lat', 'Lng']]

         Lat       Lng
0    37.1041 -113.5841
1   -21.1500  149.2000
2    -0.7393  -90.3518
3    14.5094  -92.1933
4    29.0331   21.5482
..       ...       ...
561   6.1241   81.1185
562  20.7000 -105.2000
563  -2.8856  -40.1200
564  45.3167   55.2000
565  56.3833   38.5667

[566 rows x 2 columns]

In [4]:
# Configure gmaps to use api key
gmaps.configure(api_key=g_key)

In [5]:
# 1) Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[['Lat', 'Lng']]

# 2) Assign the weights variable to some values
max_temp = city_data_df['Max Temp']

# 3) Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4) Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5) Add the heatmap layer
fig.add_layer(heat_layer)

# 6) Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speeds mph
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum & maximum temperature preference values
min_temp = float(input('What is the minimum temperature you wuold like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you wuold like for your trip? 25
What is the maximum temperature you would like for your trip? 75

In [11]:
# Filter dataset to find the cities that fit the temperature preferences
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) &
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mackay,AU,2021-11-28 21:57:58,-21.1500,149.2000,73.38,94,90,6.91
5,5,Albany,US,2021-11-28 21:59:57,42.6001,-73.9662,29.01,92,86,1.83
7,7,Praia Da Vitoria,PT,2021-11-28 22:00:01,38.7333,-27.0667,60.22,60,100,3.13
9,9,Port Alfred,ZA,2021-11-28 22:00:02,-33.5906,26.8910,65.73,81,11,11.18
11,11,Bambous Virieux,MU,2021-11-28 21:58:43,-20.3428,57.7575,73.65,83,20,3.44
12,12,Asosa,ET,2021-11-28 22:00:03,10.0667,34.5333,70.32,44,50,3.47
13,13,Ushuaia,AR,2021-11-28 22:00:04,-54.8000,-68.3000,44.92,72,58,9.93
15,15,Busselton,AU,2021-11-28 22:00:05,-33.6500,115.3333,63.28,74,48,7.38
17,17,Saint-Philippe,RE,2021-11-28 22:00:07,-21.3585,55.7679,74.79,83,45,3.56
18,18,Saint-Denis,FR,2021-11-28 22:00:07,48.9167,2.3333,36.16,86,0,5.75

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       4
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1             Mackay      AU     73.38 -21.1500  149.2000
5             Albany      US     29.01  42.6001  -73.9662
7   Praia Da Vitoria      PT     60.22  38.7333  -27.0667
9        Port Alfred      ZA     65.73 -33.5906   26.8910
11   Bambous Virieux      MU     73.65 -20.3428   57.7575
12             Asosa      ET     70.32  10.0667   34.5333
13           Ushuaia      AR     44.92 -54.8000  -68.3000
15         Busselton      AU     63.28 -33.6500  115.3333
17    Saint-Philippe      RE     74.79 -21.3585   55.7679
18       Saint-Denis      FR     36.16  48.9167    2.3333

In [18]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("hotel not found... skipping.")

hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.
hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mackay,AU,73.38,-21.1500,149.2000,International Lodge Motel
5,Albany,US,29.01,42.6001,-73.9662,
7,Praia Da Vitoria,PT,60.22,38.7333,-27.0667,Hotel Branco I
9,Port Alfred,ZA,65.73,-33.5906,26.8910,The Halyards Hotel
11,Bambous Virieux,MU,73.65,-20.3428,57.7575,Casa Tia Villa
...,...,...,...,...,...,...
553,Flinders,AU,63.14,-34.5833,150.8552,Shellharbour Resort & Conference Centre
554,Alice Springs,AU,69.35,-23.7000,133.8833,Desert Palms Alice Springs
559,Mirandela,PT,49.41,41.4874,-7.1870,Grande Hotel Dom Dinis
564,Beyneu,KZ,35.58,45.3167,55.2000,NUR
565,Strunino,RU,28.54,56.3833,38.5667,Mini-Hotel Dubravushka

In [25]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the df row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))